<div class="row">
  <div class="col-sm" ng-init="showData()">
    <table class="table">
      <thead>
        <th ng-click="orderByMe('ID')">ID</th>
        <th ng-click="orderByMe('Voornaam')">Voornaam</th>
        <th ng-click="orderByMe('Achternaam')">Achternaam</th>
        <th ng-click="orderByMe('Straat')">Straat</th>
        <th ng-click="orderByMe('Huisnummer')">Huisnummer</th>
        <th ng-click="orderByMe('Postcode')">Postcode</th>
        <th ng-click="orderByMe('Woonplaats')">Woonplaats</th>
        <th ng-click="orderByMe('Telefoonnummer')">Telefoonnummer</th>
        <th ng-click="orderByMe('TijdToegevoegd')">Toegevoegd</th>
        <th>Update</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr ng-repeat="persoon in personen | orderBy:myOrderBy" ng-mouseover="tooltip = persoon.TijdToegevoegd" ng-mouseleave = "tooltip = 'Hover over rij'">
          <td>{{persoon.ID}}</td>
          <td>{{persoon.Voornaam}}</td>
          <td>{{persoon.Achternaam}}</td>
          <td>{{persoon.Straat}}</td>
          <td>{{persoon.Huisnummer}}</td>
          <td>{{persoon.Postcode}}</td>
          <td>{{persoon.Woonplaats}}</td>
          <td>{{persoon.Telefoonnummer}}</td>
          <td>{{tooltip}}</td>
          <td><a ng-href="#!update/{{persoon.ID}}">Update</a></td>
          <td ng-click="deletePerson(persoon.ID)">Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
