<div class="row">
  <div class="col-sm" ng-init="showData()">
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Voornaam</th>
        <th ng-click="orderByMe('Achternaam')">Achternaam</th>
        <th>Straat</th>
        <th>Huisnummer</th>
        <th>Postcode</th>
        <th ng-click="orderByMe('Woonplaats')">Woonplaats</th>
        <th>Telefoonnummer</th>
        <th>Toegevoegd</th>
        <th>Update</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr ng-repeat="persoon in personen | orderBy:myOrderBy" ng-mouseover="tijd = persoon.TijdToegevoegd" ng-mouseleave = "tijd = 'Hover over rij'">
          <td>{{persoon.ID}}</td>
          <td>{{persoon.Voornaam}}</td>
          <td>{{persoon.Achternaam}}</td>
          <td>{{persoon.Straat}}</td>
          <td>{{persoon.Huisnummer}}</td>
          <td>{{persoon.Postcode}}</td>
          <td>{{persoon.Woonplaats}}</td>
          <td>{{persoon.Telefoonnummer}}</td>
          <td>{{tijd}}</td>
          <td><a ng-href="#!update/{{persoon.ID}}">Update</a></td>
          <td><a href="#" ng-click="deletePerson(persoon.ID)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
